/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --cor1: #F8B195;
  --cor2: #F67280;
  --cor3: #C06C84;
  --cor4: #6C5B7B;
  --cor5: #355C7D;
}

/*Default*/
html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body{
  background-image: linear-gradient(90deg, var(--cor5), var(--cor4));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.search {
  position: relative;
  height: 5rem;
}

.search .input {
  background-color: white;
  border: 0;
  font-size: 1.8rem;
  padding: 1.5rem;
  height: 5rem;
  width: 5rem;
  transition: width .3s ease;
}

.btn {
  background-color: white;
  border: 0;

  cursor: pointer;
  font-size: 2.4rem;

  position: absolute;
  top: 0;
  left: 0;

  height: 5rem;
  width: 5rem;
  transition: transform .3s ease;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 20rem;  
}

.search.active .btn {
  transform: translateX(19.8rem);
}

i:hover{
  color: var(--cor3);
}